*,*::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #023e8a;
}

h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
    
}
.container {
    background-image: url("/basket.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    border: 5px solid white;
    /* width: 350px; */
    padding: 20px;  
    
}

.display {
    color: #F94F6D;
    padding: 35px 35px;
    text-align: center;
    background: black;
    border-radius: 5px;
}

will search for picture now

.numcontainer {
    display: flex;
    gap: 12px;
   padding: 10px;
}
.newdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button {
    color: white;
    border-radius: 5px;
    border: 1px white light;
    font-family: 'Cursed Timer ULiL';
    src: url(font.ttf);
    padding: 1px 10px;
    background: #023e8a;
}


@font-face {
  font-family: 'Cursed Timer ULiL';
    src: url(font.ttf);
}

.number{
     font-size: 47px;
     line-height: 0px;
     font-family: 'Cursed Timer ULiL';
    src: url(font.ttf);

}



